@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

#seccion {
  padding-top: 1.5%;
	width: 91%;
	margin-left: 2%;
  background: white;
 
	padding-left: 20px;
  padding-right: 20px;
	margin-bottom:100px;
	border: 5px solid  rgba(173,13,13,1);
}


body{
  background: rgba(226,222,222,1);
   -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;

}



#pie{
  float:both;
   clear: both;
  background-color: rgba(173,13,13,1);
 text-align: center;
 padding: 20px;
 border-top: 2px solid #999999;
  }




#menu32{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    margin-bottom: 20px;
}
#menu32 ul li {

	list-style: none;
display: block;
	font-family: "Source Sans Pro";
	font-size: 30px;
	color: white;

  
	text-align: center;
  margin-left: 30%;

    color: white;
}




 #contenedorimg {
     margin-left: 100px;

     width: 50px;
     text-align: center;
 }




h1{
 font-size: 30px;

 font-family:Arial, Helvetica;

 color: black;

}



#main-cabezera{
width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1001;
}

header.img{
    background-image: url("img/header.png");
    background-position: right top;
    background-repeat: none;

}

ul.encabezado{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
}
ul.barraNavegacion{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(173,13,13,1);
}



li {
    float: left;
		filtro.margin-left: 100px;
		/*margin-left: 100px;
		margin-right: 100px;*/
}
img.ImgHeader {
    float: left;
    width: 300px;
    margin-left:40%;

}
ul img.ImgHeader{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;

}





div.Banner{
  width: 100%;
float:center;
  margin-top: 11%;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 80px;
  height: 340px;
  margin-left: 100px;
}

div.container1{
width: 40%;
float:center;
  margin-top: 5px;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 80px;
  height: 400px; 
 
}

#slides {
      display: none;
    
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:10px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
    
    }

    a.slidesjs-next {
      
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
     
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    a:link, a:visited {
    color: #d22929;
    text-decoration: none;
    font-weight: 600;
}

a:hover, a:active {
    color: #9e2020;
    text-decoration: none;
    font-weight: 600;
}

a.btn {
  color:#fff;
  margin-bottom: 10px;
}



