#main-cabezera{
width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1001;
}

header.img{
    background-image: url("img/shoppingSport.png");
    background-position: right top;
    background-repeat: none;

}

ul.encabezado{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
}

.navbar{
	margin-right: 10PX;
	background: black;
	color:blue;
	font-size: 
}